@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


html {
    scroll-behavior: smooth; /* For modern browsers */
}

body {
    background-color: rgb(212, 219, 255);
}

.card {
    width: 100%;
    max-width: 500px;
    position: relative;
    color: white;
}

.card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
}


.img-fit {
    height: 200px;
    /* or whatever fixed height you want */
    object-fit: cover;
}

.list-block {
    color: black;
    font-weight: normal;
}

.skill-block {
    background-color: rgb(209, 209, 209);
}

.skill-block:hover {
    background-color: rgb(104, 129, 197);
}

.social-icons a {
      font-size: 2.5rem;
      margin-right: 15px;
      color: #495057;
    }
    .social-icons a:hover {
      color: #0d6efd;
    }