html {
    scroll-behavior: smooth; /* For modern browsers */
}

body {
    background-color: rgba(186,192,226,0.5);
}

.hero-section {
    background: url("images/blake-connally-IKUYGCFmfw4-unsplash.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    height: 100vh;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-section h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.section-padding {
    padding: 60px 0;
}

.project-card {
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
}

.footer .social-icons a {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0 10px;
}

.footer .social-icons a:hover {
    color: #adb5bd;
}

.footer .copyright {
    margin-top: 10px;
}
